{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>
            MiniTwitter - {% block title %}{% endblock %}
        </title>
        <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!-- Favicon icon -->
        <link rel="icon" href="{% static " assets/favicon.ico" %}" type="image/x-icon">
        <!-- fontawesome icon --> 
        <!-- animation css -->
        <!-- vendor css -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="{% static "assets/css/bootstrap/index/bootstrap.css" %}"></script>

        <!-- Specific CSS goes HERE -->
        {% block stylesheets %}{% endblock %}

        {% block CustomStyles %}{% endblock %}
        {% block CustomScripts %}{% endblock %}

    </head>

    <body>

        <!-- Top Bar -->
        {% include 'includes/navigation.html' %}

        <div class="container-fluid">
            <div class="row">

                {% block content %}{% endblock content %}

            </div>
        </div>


        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>       
        j{% endblock javascripts %}
    </body>

    <!--


──▒▒▒▒▒────▄████▄─────
─▒─▄▒─▄▒──███▄█▀──────
─▒▒▒▒▒▒▒─▐████──█──█──
─▒▒▒▒▒▒▒──█████▄──────
─▒─▒─▒─▒───▀████▀─────


-->
</html>
