{% extends "layouts/base_full.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

   
<div class="col-6 col-sm-12 col-lg-6 m-auto">
    <div class="card">
        <div class="card-body text-center">
            <div class="">
                {% include 'includes/top_register.html' %}
            </div>
            <h4 class="">Cadastro</h4>
            <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Adicione suas credenciais
                {% endif %} 
            </span>
    
            <br />
            <br />
    
            <form role="form" method="post" action="">
    
                {% csrf_token %}                    
    
                <div class="input-group mb-3">
                    {{ form.username }}
                </div>
                <span class="text-error">{{ form.username.errors }}</span>
    
                <div class="input-group mb-3">
                    {{ form.email }}
                </div>
                <span class="text-error">{{ form.email.errors }}</span>
    
                <div class="input-group mb-3">
                    {{ form.fone }}
                </div>
                <span class="text-error">{{ form.fone.errors }}</span>
    
                <div class="input-group mb-4">
                    {{ form.password1 }}
                </div>
                <span class="text-error">{{ form.password1.errors }}</span>
    
                <div class="input-group mb-4">
                    {{ form.password2 }}
                </div>
                <span class="text-error">{{ form.password2.errors }}</span>
                
                <div class="form-group text-left">
                    <div class="checkbox checkbox-fill d-inline">
                        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                        <label for="checkbox-fill-a1" class="cr"> Concordo com <a href="#">terms</a></label>
                    </div>
                </div>
                <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>
    
            </form>
    
            <p class="mb-0 text-muted">Já tem uma conta? <a href="{% url 'login' %}" >Login</a></p>
            <br />
            <p class="mb-2 text-muted">
                &copy; <a target="_blank" href="#">Conecte-se</a> 
                - <a target="_blank" href="#">Jhonatan Dev</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}
